<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Css")
    @RenderSection("CustomStyles", required: false);
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="@Url.Action("Index", "Products")" class="site_title"><i class="fa fa-archive"></i> <span>SkWELA</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">

                    </div>
                    <!-- /menu profile quick info -->
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-home"></i> Dashboard </a>
                                </li>
                                <li>
                                    <a><i class="fa fa-user"></i> Manage Users <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>@Html.ActionLink("Users", "Index", "AppUsers")</li>
                                        <li>@Html.ActionLink("Roles", "Index", "AppRoles")</li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-cart-plus"></i> Manager Orders <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>@Html.ActionLink("Orders", "Index", "Orders")</li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-folder-open"></i> Manage Categories <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>@Html.ActionLink("Create", "Create", "ProductCategories")</li>
                                        <li>@Html.ActionLink("Categories ", "Index", "ProductCategories")</li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-book"></i>Manage Courses <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>@Html.ActionLink("Create", "Create", "Products")</li>
                                        <li>@Html.ActionLink("Courses", "Index", "Products")</li>
                                    </ul>
                                </li>
                                 <li>
                                    <a><i class="fa fa-book"></i>Manage Course Images <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>@Html.ActionLink("Course Images", "Index", "ProductImages")</li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-book"></i>Owners of Courses<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">

                                        <li>@Html.ActionLink("Create", "Create", "OwnerOfCourses")</li>
                                        <li>@Html.ActionLink("Owner Of Courses", "Index", "OwnerOfCourses")</li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Home")"><i class="fa fa-reply-all"></i>Back to Customer Page </a>
                                </li>
                            </ul>
                        </div>


                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>

                        <a data-toggle="tooltip" data-placement="top" title="Logout" href="javascript:document.getElementById('logoutForm').submit()">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>

                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a class="dropdown-toggle fa fa-user" href="javascript:;" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-user-circle fa-fw"></i>
                                </a>
                                <span class="dropdown-menu dropdown-menu-right " aria-labelledby="userDropdown">
                                    <a class="dropdown-item" href="@Url.Action("Index", "Manages")">@User.Identity.Name</a>
                                    <span class="dropdown-divider"></span>
                                    @if (Request.IsAuthenticated)
                                    {
                                        using (Html.BeginForm("Logout", "Accounts", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <a class="dropdown-item fa fa-sign-out" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                                        }
                                    }
                                </span>
                            </li>

                            <li role="presentation" class="dropdown">
                                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="badge bg-green">6</span>
                                </a>
                                <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                    <li>
                                        <a>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>

                                    <li>
                                        <div class="text-center">
                                            <a>
                                                <strong>See All Alerts</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <!-- top tiles -->
                <!-- /top tiles -->
                @RenderBody()
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Gentelella - Bootstrap Admin Template by Colorlib
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/typeahead")
    @Scripts.Render("~/Js")
    @RenderSection("scripts", required: false)
</body>
</html>


