@model Project_MVC.Models.ThisPage

@{
    int currentPage = Model.CurrentPage;
    int previousPage = currentPage - 1;
    int nextPage = currentPage + 1;
    string currentPageInString = Convert.ToString(currentPage);
    string previousPageInString = Convert.ToString(previousPage);
    string nextPageInString = Convert.ToString(nextPage);

    var totalPage = Model.TotalPage;
}

<div>
    Page @currentPage of @totalPage
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        @if (currentPage > 1)
        {
            <li class="page-item">
                @Html.ActionLink("First", "Index", new { page = 1 }, new { @class = "page-link" })
            </li>
            <li class="page-item">
                @Html.ActionLink("Previous", "Index", new { page = currentPage - 1 }, new { @class = "page-link" })
            </li>
            <li class="page-item">
                @Html.ActionLink(previousPageInString, "Index", new { page = currentPage - 1 }, new { @class = "page-link" })
            </li>
        }
        <li class="page-item active">
            @*<a class="page-link" href="@Url.Content(~/Index?page = @currentPage)">@currentPage</a>*@
            @Html.ActionLink(currentPageInString, "Index", new { page = currentPage }, new { @class = "page-link" })
        </li>
        @if (currentPage < totalPage)
        {
            <li class="page-item">
                @Html.ActionLink(nextPageInString, "Index", new { page = currentPage + 1 }, new { @class = "page-link" })
            </li>
            <li class="page-item">
                @Html.ActionLink("Next", "Index", new { page = currentPage + 1 }, new { @class = "page-link" })
            </li>
            <li class="page-item">
                @Html.ActionLink("Final", "Index", new { page = totalPage }, new { @class = "page-link" })
            </li>
        }
    </ul>
</nav>

