@model IEnumerable<Project_MVC.Models.ProductImage>
@using Project_MVC.Models

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var thisPage = ViewBag.Page as ThisPage;
    var url = "/ProductImages/Delete/";
}

<h2>Manage Product Images</h2>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
@using (Html.BeginForm("Index", "ProductImages", FormMethod.Get))
{
    <p>
        Find Images by Product Name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageData)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                <img src="data:image;base64,@System.Convert.ToBase64String(item.ImageData)" width="80" height="80" />
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id=item.Id }) |*@
                @Html.ActionLink("Delete", "Delete", new { id = item.Id },
          new { @class = "btn btn-danger btn-delete-notify", @id = "delete-" + item.Id, data_request_url = @url })
            </td>
        </tr>
    }

</table>

@Html.Partial("_Paginate", thisPage)

@Html.AntiForgeryToken()
@section scripts{
    @Scripts.Render("~/bundles/custom");
}
