@model IEnumerable<Project_MVC.Models.Lecture>

@{
    var url = "/Lectures/Delete/";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisplayOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Lectures", new { id = item.Id }, null) |
                @Html.ActionLink("Details", "Details", "Lectures", new { id = item.Id }, null) |
                @Html.ActionLink("Delete", "Delete", "Lectures", new { id = item.Id },
              new { @class = "btn btn-danger btn-delete-notify", @id = "delete-" + item.Id, data_request_url = @url })
            </td>
        </tr>
    }
</table>

<script src="~/Scripts/Customs/deleteNotify.js"></script>
