@model IEnumerable<Project_MVC.Models.LectureVideo>
@using Project_MVC.Models
@using System.Text;

@{
    ViewBag.Title = "DetailVideos";
    Layout = "~/Views/Shared/_LayoutCustomerPage.cshtml";

    var thisPage = ViewBag.Page as ThisPage;
    var currentCourse = ViewBag.CurrentCourse as Product;
    var lstLectureVideos = ViewBag.ListLectureVideos as List<LectureVideo>;
    var lstImage = currentCourse.ProductImages.OrderByDescending(s => s.CreatedAt);
    var image = new ProductImage();
    if (lstImage != null && lstImage.ToList().Count != 0)
    {
        image = lstImage.FirstOrDefault();
    }
    else
    {
        image.ImageData = Encoding.ASCII.GetBytes("");
    }

    var rating = (decimal?)ViewBag.CurrentRating;
    if (rating == null)
    {
        rating = 0;
    }
}

<section class="site-hero overlay" data-stellar-background-ratio="0.5" style="background-image: url(data:image;base64,@System.Convert.ToBase64String(image.ImageData));">
    <div class="container">
        <div class="row align-items-center site-hero-inner justify-content-center">
            <div class="col-md-3 list-group">
                @*@{ 
                    var indexOfVideo = 1;
                }*@
                @foreach (var item in lstLectureVideos)
                {
                    var indexOfVideo = lstLectureVideos.IndexOf(item);
                    var removeFirstDigits = string.Concat(item.Name.SkipWhile(char.IsDigit));
                    var trimFirstEndSpaceChar = removeFirstDigits.Trim(' ');

                    <a href="@Url.Action("DetailVideos", "Lectures", new { page = indexOfVideo + 1 })"
                       class="list-group-item list-group-item-action" style="color:blue">
                        @trimFirstEndSpaceChar
                    </a>
                }
            </div>
            <div class="col-md-7">
                <div id="watchVideo">
                    @foreach (var item in Model)
                    {
                        var removeFirstDigits = string.Concat(item.Name.SkipWhile(char.IsDigit));
                        var trimFirstEndSpaceChar = removeFirstDigits.Trim(' ');

                        <div id="nameOfVid" style="text-align:center;color:red">@trimFirstEndSpaceChar</div>
                        <div class="video-container">
                            <video controls id="video">
                                <source src="@Url.Action("Video", "Products", new { fileId = item.Id })" type="video/mp4" />
                            </video>
                        </div>

                        <div>
                            <span id="played">0</span> giây đã xem trong tổng
                            <span id="duration"></span> giây.
                        </div>
                    }
                    <div>

                        @if (thisPage.CurrentPage > 1)
                        {
                            <span id="previousVideo">@Html.ActionLink("Previous", "DetailVideos", new { page = thisPage.CurrentPage - 1 }, new { @class = "btn btn-primary" })</span>
                        }
                        @if (thisPage.CurrentPage < thisPage.TotalPage)
                        {
                            <span id="nextVideo">@Html.ActionLink("Next", "DetailVideos", new { page = thisPage.CurrentPage + 1 }, new { @class = "btn btn-primary" })</span>
                        }
                        @if (thisPage.CurrentPage == thisPage.TotalPage)
                        {
                            <span id="back2IndexLectures">@Html.ActionLink("Back to Course", "Index", "Lectures", new { productCode = currentCourse.Code }, new { @class = "btn btn-primary" })</span>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*<section class="site-hero site-hero-innerpage overlay" data-stellar-background-ratio="0.5" style="background-image: url(/images/big_image_1.jpg);">
        <div class="container">
            <div class="row align-items-center site-hero-inner justify-content-center">
                <div class="col-md-8 text-center">
                    <div class="mb-5 element-animate ">


                    </div>
                </div>
            </div>
        </div>
    </section>*@

<section class="site-section bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5 box">
                <h2 class="mb-5">Đánh giá</h2>
                <div class="stars-outer ratingCourse">
                    <div class="stars-inner">

                    </div>
                    <div class="stars-finalinner"></div>
                </div>

                <div>
                    @using (Html.BeginForm("RatingLectureVideo", "Lectures", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("rating")
                        @Html.Hidden("currentLectureId", thisPage.LectureId)
                        @Html.Hidden("currentPage", thisPage.CurrentPage)

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Đánh giá" class="btn btn-default" />
                            </div>
                        </div>
                    }
                </div>

                @{ 
                    string urlComment = string.Format("https://localhost:44390/Lectures/DetailVideos?id={0}&page={1}", thisPage.LectureId, thisPage.CurrentPage);
                }

                <div>
                    <div id="fb-root"></div>
                    <div class="fb-comments" data-href=@urlComment data-width="350" data-numposts="5"></div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    @Scripts.Render("~/bundles/video");
    <script>
        var getRating = @rating;
        const starTotal = 5;
        var previousPercentage = 0;

         const ratings = {
            ratingCourse: getRating,
        };

        for (const rating in ratings) {
            // 2
            const starPercentage = (ratings[rating] / starTotal) * 100;
            // 3
            const starPercentageRounded = `${(Math.round(starPercentage / 10) * 10)}%`;
            // 4
            document.querySelector(`.${rating} .stars-inner`).style.width = starPercentageRounded;
            previousPercentage = starPercentage;
            };

        $(".stars-outer").click(function (e) {
            var thisOffset = $(this).offset().left;
            var relX = e.pageX - thisOffset;
             var perc = relX / $(this).width() * 100;
          //var perc = (e.pageX - this.offsetLeft) / $(this).outerWidth() * 100;
            getRating = starTotal / 100 * perc;

             const ratings = {
            ratingCourse: getRating,
        };

        for (const rating in ratings) {
            // 2
            const starPercentage = (ratings[rating] / starTotal) * 100;
            //const ratingStarPercentage = (starPercentage / previousPercentage) * 100;
            // 3
            const starPercentageRounded = `${(Math.round(starPercentage / 10) * 10)}%`;
            // 4

            document.querySelector(`.${rating} .stars-finalinner`).style.width = starPercentageRounded;
            };

             $('#rating').val(getRating);
        })

    </script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v6.0&appId=583730498876225&autoLogAppEvents=1"></script>
}

@section CustomStyles{
    <style>
        /*#watchVideo {
                margin-top: 100px;
            }
            #video{
                margin-top: 1px;
            }
            #nameOfVid{
                margin-bottom: 2px;
            }*/
        #video {
            /*position: absolute;
                z-index: -1;
                top: 0;
                left: 0;*/
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        table {
            margin: 0 auto;
            text-align: center;
            border-collapse: collapse;
            border: 1px solid #d4d4d4;
            font-size: 20px;
            background: #fff;
        }

            table th,
            table tr:nth-child(2n+2) {
                background: #e7e7e7;
            }

            table th,
            table td {
                padding: 20px 50px;
            }

            table th {
                border-bottom: 1px solid #d4d4d4;
            }

        .stars-outer {
            display: inline-block;
            position: relative;
            font-family: FontAwesome;
        }

            .stars-outer::before {
                content: "\f006 \f006 \f006 \f006 \f006";
            }

        .stars-inner {
            position: absolute;
            top: 0;
            left: 0;
            white-space: nowrap;
            overflow: hidden;
            width: 0;
        }

            .stars-inner::before {
                content: "\f005 \f005 \f005 \f005 \f005";
                color: #f8ce0b;
            }

        .stars-finalinner {
            position: absolute;
            top: 0;
            left: 0;
            white-space: nowrap;
            overflow: hidden;
            width: 0;
        }

            .stars-finalinner::before {
                content: "\f005 \f005 \f005 \f005 \f005";
                color: red;
            }
    </style>
}
